.leftSection{
    min-width: 400px;
    text-align: center;
    border-right: #aaa 0.1px solid;
}

.btn-group{
    background: transparent;
}



.btn{
    background: transparent;
    color: black;
    border: 1px #111 solid;
    width: 150px;
    /* text-align: right; */
    font-weight: 400;
    font-size: 15px;
}

.btn:hover{
    background: #000;
    color: white;
}

.btn:first-child:hover{
    /* background: #7FB77E; */
    background: rgb(43, 43, 43);
    /* border: #7FB77E 1px solid; */
    color: white;
}

.dropdown-toggle-show{
    background: #7FB77E;
    color: white;
}

/* .btn-group:hover{
    background: #000;
    color: white;
} */

.genreDiv{
    margin-top: 10px;
}