
.footerDistributed {
  background: #7FB77E;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}
.footerDistributed .footerLeft,
.footerDistributed .footerCenter,
.footerDistributed .footerRight {
  display: inline-block;
  vertical-align: top;
}
/* Footer left */
.footerDistributed .footerLeft {
  width: 40%;
}
/* The company logo */
.footerDistributed h3 {
  color: #F7F6DC;
  font: normal 40px "Gilroy", cursive;
  font-weight: 700;
  margin: 0;
}
.footerDistributed h3 span {
  color: #FFC090;
}
/* Footer links */
.footerDistributed .footerLinks {
  color: #F7F6DC;
  margin: 20px 0 12px;
  padding: 0;
}
.footerDistributed .footerLinks a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}
.footerDistributed .footerCompanyName {
  color: #FFC090;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
/* Footer Center */
.footerDistributed .footerCenter {
  width: 35%;
}
.footerDistributed .footerCenter i {
  background-color: #33383b;
  color: #F7F6DC;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footerDistributed .footerCenter i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}
.footerDistributed .footerCenter p {
  display: inline-block;
  color: #F7F6DC;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}
.footerDistributed .footerCenter p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footerDistributed .footerCenter p a {
  color: #FFC090;
  text-decoration: none;
}
.footerDistributed .footerLinks a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}
.footerDistributed .footerLinks .link-1:before {
  content: none;
}
/* Footer Right */
.footerDistributed .footerRight {
  width: 20%;
}
.footerDistributed .footerCompanyAbout {
  line-height: 20px;
  color: #FFC090;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footerDistributed .footerCompanyAbout span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footerDistributed .footerIcons {
  margin-top: 25px;
}
.footerDistributed .footerIcons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #FFC090;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .footerDistributed .footerLeft,
  .footerDistributed .footerCenter,
  .footerDistributed .footerRight {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footerDistributed .footerCenter i {
    margin-left: 0;
  }
}
