.navbar{
    height: 150px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  background: #7FB77E;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  }
  

  
.navbarHeading{
    margin-top: 0;
    margin-left: 40px;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.navbarHeading2{
    color: #FFC090;
}
  
.navMenu{
    margin-right: 30px;
}

.navMenuItem{
    list-style: none;
    width: fit-content;
    display: inline;
    margin-right: 60px;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}

.a{
    text-decoration: none;
    color: #fff;
}

.signinBtn{
    padding: 9.5px 17px;
    background: #fff;
    border: 2px #fff solid;
    color: #7FB77E;
    font-weight: 600;
    font-size: 17px;
    border-radius: 10px;
    transition-duration: 150ms;
    cursor: pointer;
}

.signinBtn:hover{
    background: transparent;
    color: #fff;
    border: #fff 2px solid;
}