.welcome{
    /* width: 70vw; */
    position: fixed;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* background: #fff; */
    background: #0d0933;
    background: #000;
    background: #e6e6e6;
    background: linear-gradient(90deg, rgba(230, 230, 230, 1) 50%, rgba(163, 163, 163, 1) 99%, rgba(35, 35, 35, 1) 100%);
    /* background: transparent; */
    /* background: var(--primary-color); */
    /* background: var(--accent-color); */
  }

.trial{
  background: #000;
}

:root{
  /* --primary-color:'#7FB77E'; */
  /* --secondary-color:'white'; */
  /* --accent-color:'#FFC090' */
}
  
#msgslogo{
    height: 500px;
    margin-left: 170px;
    margin-bottom: 100px;
    width: auto;
    /* position: fixed; */
    /* left: 0; */
    /* left: 54%; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
    /* background: #e6e6e6; */
  }
  
  .left{
    background: #ac82ff;
    background: #0d0933;
    background: #e6e6e6;
    background: transparent;
    display: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    /* background: #000; */
    /* background: #fff; */
    /* background: var(--primary-color); */
    height: 100vh;
    /* height: 0; */
    width: 35vw;
    /* width: 0; */
    /* display: none;/ */
  }
  
  .right{
    height: 100vh;
    width: 65vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  /* ######################################################################################################################## */
  /* ######################################################################################################################## */
  /* ######################################################################################################################## */
  
  
  .signbox{
    width: fit-content;
    position: relative;
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 45px;
    /* border-radius: 20px; */
    border-radius: 5px;
    box-shadow: 0px 0px 8px -4px rgb(0, 0, 0);
    background: #ac82ff;
    background: #0d0933;
    background: #fff;
    color: white;
    color: #0d0933;
    border: #fff 0.1px solid;
    /* color: white; */
    /* background: #0d0933; */
    line-height: 18px;
}

.signup-login-heading{
  font-weight: 600;
}
  
  .signbox input{
    padding: 10px 16px;
    border-radius: 3px;
    outline: none;
    border: #999 0.5px solid;
    width: 280px;
    margin-top: 5px;
  }
  
  .signbox button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-weight: 600;
    font-size: 18px;
    background: transparent;
    /* border-radius: 10px; */
    border-radius: 4px;
    border: #fff 3px solid;
    border: #0d0933 3px solid;
    border: #1d165c 3px solid;
    color: #fff;
    color: #0d0933;
    color: #1d165c;
    /* color: var(--accent-color); */
    outline: none;
    transition-duration: 150ms;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .signbox button:hover{
    border: #6c5ce7 3px solid;
    border: #1d165c 3px solid;
    color: #6c5ce7;
    color: white;
    background-color: #0d0933;
    background: #1d165c;
  }
  .signbox button:active{
    border: #5844f0 2px solid;
    border: #0d0933 2px solid;
    color: #5844f0;
    background-color: #0d0933;
    font-size: 15px;
  }
  
  .signbox label{
    padding: 8px;
    font-weight: 500;
  }
  
  .btmtext{
    float: right;
  }
  
  .signuplogin{
    cursor: pointer;
    color: #0d0933;
    font-weight: 600;
  }